<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel='stylesheet prefetch' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
         <link rel="stylesheet" href="/assets/guestbook.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
       
    </head>
   
    

<body class="container">

      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bala krishna Vijayagiri</a>
      
    </div>
    <ul class="nav navbar-nav">
    <li class="active"><a href="http://127.0.0.1:8081/Home.html">Home</a></li>
	  <li><a href="http://127.0.0.1:8081/about.html">about</a></li>
      
      
       <li ><a href="http://127.0.0.1:8081/Contact.html">Contact</a></li>
     <li><a href="http://127.0.0.1:8081/paycheck.html">Pay Check Calculator</a></li>
      <li class="active"><a href="http://127.0.0.1:8081/views/index.ejs">Guestbook</a></li>    
    </ul>
  </div>
</nav>
         <container>
        </div>
      
        <div id="navbar" class="navbar-collapse collapse">
        </container>
        
        <form class="navbar-form navbar-right" role="form">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
<h1>
Balakrishna Guestbook
<a href="http://127.0.0.1:8081/views/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>