

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.main
{
    background-image: url(../N1.jpg);
}
body{
    
    background-size: cover;
    background-color: linen;
    color: brown;
}


   #form1,#form2{

 padding-left: 50px;
                padding-right: 20px;

   } 



.para{
    font-family: monospace;
    font-size: 20px;
}
#table{
    color: brown;
}
.head{
    font-family: cursive;
    background-color: bisque;
}













